.country {
    border: 3px solid gray;
    border-radius: 16px;
    padding: 16px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.country-vis {
    background-color: black;
    border: 5px solid green;
}
.btn-vis {
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
}